{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% block title %} {% endblock title %}
    </title>
    {% block css_files %} {% endblock css_files %}  
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    

  </head>
  <body>
    <header id="main-navigation" >
    <a href="{% url "home-page" %}"> <h1>Usman's Blog</h1></a>
    
      <nav>
          <a href="{% url "posts-page" %}">All Posts</a>
      </nav>
  
  </header>
    {% block contents %}
    {% endblock contents %}
  </body>
</html>
